{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
      <div id="chatContainer">
        {% for message in messages %}
        <div class="messageContainer">
          <div class="message">
            <div class="author">{{message.author.first_name}}: </div>
            <div class="message-content">
              {{message.text}}
            </div>
            <div class="message-meta">
              <span class="tab">[{{message.created_at|date:"D, d M Y"}}]:</span>
              <span>{{message.created_at|time:"H:i"}}</span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    
    <style>
      .page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
      }

      .messageContainer {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
        font-color: white;
        min-width: 400px;
      }
      
      .message {
        background-color: rgb(63,81,181);
        color: white;
        width:100%;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      }

      .author {
        font-weight: bold;
      }
      
      .message-content {
        margin-bottom: 5px;
      }
      
      .message-meta {
        font-size: 0.8em;
        display: flex;
        justify-content: flex-end;
      }
      
      .tab {
        margin-right: 5px;
      }
    </style>
       
    <script>
      async function sendMessage(){
        let messageField = document.getElementById('messageField');
        let chatContainer = document.getElementById('chatContainer');
        
        let fd = new FormData();
        let token = '{{ csrf_token }}';
        fd.append('messageField', messageField.value);
        fd.append('csrfmiddlewaretoken', token);
    
        try {
          let response = await fetch('/chat/', {
            method: 'POST',
            body: fd
          });
          let json = await response.json();
          const jsonObject = JSON.parse(json);
          dateCreated = formatDate(jsonObject.fields.created_at);
          timeCreated = formatTime(jsonObject.fields.created_at);
      
          // Erstelle ein neues Nachrichtenelement
          chatContainer.innerHTML +=`
          <div class="messageContainer">
            <div class="message">
              <div class="author">{{ request.user.first_name }}: </div>
              <div class="message-content">
                ${jsonObject.fields.text}
              </div>
              <div class="message-meta">
                <span class="tab">[${dateCreated}]:</span>
                <span>${timeCreated}</span>
              </div>
            </div>
          </div>
          `
          messageField.value = '';
          console.log('Success!');
        } catch(e) {
          console.log('An error occurred!', e);
        }
      }

      function formatDate(dateTime) {
        const createdAt = new Date(dateTime);
        const dateFormatted = `${createdAt.getDate().toString().padStart(2, '0')}.${(createdAt.getMonth() + 1).toString().padStart(2, '0')}.${createdAt.getFullYear().toString().slice(-2)}`;
        return dateFormatted;
      }

      function formatTime(dateTime) {
        const createdAt = new Date(dateTime);
        const timeFormatted = `${createdAt.getHours().toString().padStart(2, '0')}:${createdAt.getMinutes().toString().padStart(2, '0')}`;
        return timeFormatted;
      }
    </script>

    <form onsubmit="sendMessage(); return false" method="post">
      {% csrf_token %}
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="messageField" class="mdl-textfield__input" type="text" id="messageField">
        <label class="mdl-textfield__label" for="messageField">Text...</label>
      </div>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        Send
      </button>
    </form>
{% else %}
<h1>Not logged in</h1>
<div>You are currently not logged in.</div>
<div>Please click <a href="/login/">here</a> to log in.</div>
{% endif %}
{% endblock %}