{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
    {% for message in messages %}
    <div><span class="message-created-at">[{{message.created_at}}]</span> {{message.author.first_name}}: <i>{{message.text}}</i></div>
    {% endfor %}
          
    <form action="/chat/" method="post">
      {% csrf_token %}
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input name="textMessage" class="mdl-textfield__input" type="text" id="sample3">
        <label class="mdl-textfield__label" for="sample3">Text...</label>
      </div>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        Send
      </button>
    </form>
{% else %}
<h1>Not logged in</h1>
<div>You are currently not logged in.</div>
<div>Please click <a href="/login/">here</a> to log in.</div>
{% endif %}
{% endblock %}