{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2>Login</h2>
  <form method="post" action="/login/">
      {% csrf_token %}
      <input type="hidden" name="redirect" value="{{ redirect }}">
      <div class="form-group">
          <label for="id_username">Username:</label>
          <input class="mdl-textfield__input" type="text" id="username" name="username">
      </div>
      <div class="form-group">
        <label for="id_password">Password:</label>
        <input class="mdl-textfield__input" type="password" id="id_password" name="password">
      </div>
      <button type="submit" class="btn">Login</button>
  </form>
  <div class="account"><span>No account?</span><span><a href="{% url 'register' %}"> Sign up</a></span></div>
</div>
{% endblock %}