{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2>Registration</h2>
  <form method="post" action="/register/">
      {% csrf_token %}
      <div class="form-group">
          <label for="id_first_name">First name:</label>
          {{ form.first_name }}
      </div>
      <div class="form-group">
          <label for="id_last_name">Last name:</label>
          {{ form.last_name }}
      </div>
      <div class="form-group">
          <label for="id_username">Username:</label>
          <input type="text" id="id_username" name="username" {% if form.username.field.required %} required {% endif %}>
          {% if form.username.errors %}
              <div class="error-message">
                  {% for error in form.username.errors %}
                      {{ error }}
                  {% endfor %}
              </div>
          {% endif %}
      </div>
      <div class="form-group">
          <label for="id_email">E-Mail:</label>
          {{ form.email }}
          {% if form.email.errors %}
              <div class="error-message">
                  {% for error in form.email.errors %}
                      {{ error }}
                  {% endfor %}
              </div>
          {% endif %}
      </div>
      <div class="form-group">
          <label for="id_password">Password:</label>
          <input type="password" id="id_password" name="password" {% if form.password.field.required %} required {% endif %}>
          {% if form.password.errors %}
              <div class="error-message">
                  {% for error in form.password.errors %}
                      {{ error }}
                  {% endfor %}
              </div>
          {% endif %}
      </div>
      <div class="form-group">
          <label for="id_confirm_password">Confirm Password:</label>
          {{ form.confirm_password }}
          {% if form.confirm_password.errors %}
              <div class="error-message">
                  {% for error in form.confirm_password.errors %}
                      {{ error }}
                  {% endfor %}
              </div>
          {% endif %}
      </div>
      <button type="submit" class="btn">Register</button>
  </form>
  <div class="account"><span>Have an account?</span><span><a href="/login/"> Log in</a></span></div>
</div>
{% endblock %}